body {
    background-color: rgb(154, 189, 218);
}

.title {
    text-align: center;
    padding: 5px;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }